   .w {
       width: 1200px;
       margin: 0 auto;
   }
   
   header {
       height: 84px;
       border-bottom: 2px solid #c81523;
   }
   
   .logo {
       padding-top: 18px;
   }
   
   .registerarea {
       height: 522px;
       border: 1px solid #ccc;
       margin-top: 20px;
   }
   
   .registerarea h3 {
       height: 42px;
       font-weight: 400;
       font-size: 18px;
       border-bottom: 1px solid #ccc;
       background-color: #ececec;
       line-height: 42px;
       padding: 0 10px;
   }
   
   .login {
       float: right;
       font-size: 14px;
   }
   
   .login a {
       color: #c81523;
   }
   
   .reg-form {
       width: 600px;
       margin: 50px auto 0;
   }
   
   .reg-form ul li {
       margin-bottom: 20px;
   }
   
   .reg-form ul li label {
       display: inline-block;
       width: 88px;
       text-align: right;
   }
   
   .reg-form ul li .inp {
       width: 242px;
       height: 37px;
       border: 1px solid #ccc;
   }
   
   .error {
       color: #c81523;
   }
   
   .error-icon,
   .success-icon {
       display: inline-block;
       vertical-align: middle;
       width: 20px;
       height: 20px;
       background: url(../image/error_03.png) no-repeat;
   }
   
   .success {
       color: green;
   }
   
   .success-icon {
       background: url(../image/success_06.png) no-repeat;
   }
   
   .safe {
       color: #b3b3b3;
       font-size: 12px;
       padding-left: 170px;
   }
   
   .safe em {
       padding: 0 12px;
       margin-right: 1px;
   }
   
   .ruo {
       background-color: #de1111;
       color: #fff;
   }
   
   .zhong {
       background-color: #40b83f;
       color: #fff;
   }
   
   .qiang {
       background-color: #f79100;
       color: #fff;
   }
   
   .agree {
       padding-left: 89px;
   }
   
   .agree input {
       vertical-align: middle;
   }
   
   .agree a {
       color: #1ba1e6;
   }
   
   .btn {
       width: 200px;
       height: 34px;
       background-color: #c81523;
       font-size: 14px;
       color: #fff;
       margin: 30px 0 0 90px;
   }
   
   .mod-copyright {
       text-align: center;
       padding-top: 20px;
   }
   
   .link {
       margin-bottom: 15px;
   }
   
   .copyright {
       line-height: 20px;
   }
   
   .link a {
       margin: 0 3px;
   }